# Copyright (c) 2024 IAR Systems AB
# SPDX-License-Identifier: Apache-2.0

config LD_LINKER_SCRIPT_SUPPORTED
	bool
	default n

choice LINKER_SCRIPT
	default CMAKE_LINKER_GENERATOR
endchoice

config STACK_CANARIES
	bool
	default n


menu "IAR library options"

config IAR_SEMIHOSTING
	bool "Use the IAR semihosting implementation."
	depends on ICCARM_LIBC
	default n
	help
	  Use the semihosting implementation in the IAR library
	  instead of the Zephyr implementation.

config IAR_BUFFERED_WRITE
	bool "Use buffered write"
        depends on IAR_SEMIHOSTING
	default n
	help
	  Instead of printing one character at a time
	  this option uses a buffer to print a line
	  at a time instead, increasing speed of printout.

endmenu
